 nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    padding: 0 20px;

    background-color: rgba(165, 165, 165, 0.221);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px 1px black;

    z-index: 2;
}

.brand-name {
    font-size: 25px;

    text-shadow: 1px 0 2px white;
    color: rgb(141, 7, 7);
}

.nav-link {
    padding: 15px 10px;

    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: 700px;
    text-transform: uppercase;

    transition: 200ms;
}

.nav-link:hover {
    background-color: rgba(141, 7, 7);
    color: white;
}

/* Nav Responsive */

/* .nav-toogle {
    display: none;
}

.nav-links-responsive {
    position: absolute;
    top: 50px;
    right: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.919);
    backdrop-filter: blur(10px);
    
    transition: 500ms ease-out;
} 

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition-duration: .5s;
}

.bars {
    width: 80%;
    height: 4px;
    background-color: rgb(160, 160, 160);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,#bar3 {
    width: 50%;
}

#checkbox:checked + .toggle + .nav-links-responsive {
    right: 0%;
}

#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
    width: 80%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
    width: 80%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
} */



/* @media (max-width: 750px) {
  .nav-links {
      display: none;
  }
  .nav-toogle {
      display: block;
  }
  .nav-link {
      color: white;
  }
  
}